* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #4682B4;
}

.app {
    background-color: #fff;
    width: 92%;
    max-width: 37.5em;
    margin: 6.25em auto 0;
    border-radius: 0.62em;
    padding: 1.25em;
}

.app h1 {
    font-size: 1.56rem;
    color: #001e4d;
    font-weight: 600;
}

/*--------------------------- Header --------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

header .logo {
    font-size: 2.81rem;
    font-weight: 600;
    color: red;
    margin-right: auto;
}

#quiz h2 {
    font-size: 1.37rem;
    margin-bottom: 0.87em;
    color: #4682B4;
}

/*--------------------------- Result message and scoreboard --------------------------------*/

#result {
    padding-top: 0.62em;
    font-weight: 500;
    display: none;
}

#scoreboard {
    font-weight: 600;
    color: #fff;
    background-color: #4682B4;
    padding: 0.31em 0.62em;
    border-radius: 0.37em;
    display: none;
}

/*--------------------------- Question and possible answers --------------------------------*/

.quiz {
    padding: 1.25em 0;
}

.quiz h2 {
    font-size: 0.88rem;
    color: #001e4d;
    font-weight: 600;
}

/*--------------------------- Buttons --------------------------------*/

.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 0.62em;
    margin: 0.62em 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: default;
}

.next-btn, #again-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 9.37em;
    border: 0;
    padding: 0.62em;
    margin: 1.25em auto;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: none;
    transition: all 0.3s;
}

#next-btn:hover, #again-btn:hover {
    background-color: #222;
    color: #fff;
}

/*--------------------------- End game --------------------------------*/

#end-result, a {
    color: red;
}