* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #4682B4;
}

.app {
    background-color: #fff;
    width: 92%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 20px;
}

.app h1 {
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #333;
}

header .logo {
    font-size: 45px;
    font-weight: 600;
    color: red;
    margin-right: auto;
}

#quiz h2 {
    font-size: 22px;
    margin-bottom: 14px;
    color: #4682B4;
}
#result {
    padding-top: 10px;
    font-weight: 500;
    display: none;
}

#scoreboard {
    font-weight: 600;
    color: #fff;
    background-color: #4682B4;
    padding: 5px 10px;
    border-radius: 6px;
    display: none;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background-color: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background-color: #222;
    color: #fff;
}

.btn:disabled {
    cursor: default;
}

.next-btn, #again-btn {
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: none;
    transition: all 0.3s;
}

#next-btn:hover, #again-btn:hover {
    background-color: #222;
    color: #fff;
}

#end-result, a {
    color: red;
}